

.menu-buttons{
  font-size: larger; 
    height: 10%;
    width: 90%;
    margin-left: 5%;
    margin-top: 20%;
    align-self: center;
}
img{
  max-height: 100%;
  }
.menu-buttons2{
  font-size: larger; 
  height: 10%;
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  align-self: center;
}



/**
* Generated theme by Material Theme Generator
* https://materialtheme.arcsine.dev
*/

.mat-standard-chip {
  padding: .5em .85em;
  min-height: 2.5em;
}

.material-icons {
  font-size: 24px;
  font-family: 'Material Icons', 'Material Icons';  
  .mat-badge-content {
    font-family: 'Roboto';
  }
}




// // Media
// @media (min-width: 576px) 
//     .menu-buttons
//         right: 30px
//         bottom: 15px
    

// @media (min-width: 768px) 
//     #add-button
//         right: 30px
//         bottom: 15px